@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Insurance Co</h1>
    <p class="lead">Take a ride with us.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We're there when you need us.</h2>
        <p><h4>@Html.ActionLink("Get a Quote", "Create", "Quotes")</h4></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>